---
title: 'Jeet Blog Listing'
author: 'Thiago de Bastos'
_content: false
category: 'jeet'
---

extends ../views/_single

block content
	section.jeet-blog-listing
		aside
			a(href='#') link
			a(href='#') link
			a(href='#') link
			a(href='#') link
		.posts
			.post
				img(src="http://placekitten.com/g/800/600")
				
				article
					header
						h2= post.title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum aperiam obcaecati consectetur laboriosam commodi. Sunt molestias temporibus dicta ratione tenetur quisquam nostrum neque, omnis nemo, excepturi ad ducimus illo.
			.post
				img(src="http://placekitten.com/g/800/600")
				
				article
					header
						h2= post.title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum aperiam obcaecati consectetur laboriosam commodi. Sunt molestias temporibus dicta ratione tenetur quisquam nostrum neque, omnis nemo, excepturi ad ducimus illo.
			.post
				img(src="http://placekitten.com/g/800/600")
				
				article
					header
						h2= post.title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum aperiam obcaecati consectetur laboriosam commodi. Sunt molestias temporibus dicta ratione tenetur quisquam nostrum neque, omnis nemo, excepturi ad ducimus illo.
			.post
				img(src="http://placekitten.com/g/800/600")
				
				article
					header
						h2= post.title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum aperiam obcaecati consectetur laboriosam commodi. Sunt molestias temporibus dicta ratione tenetur quisquam nostrum neque, omnis nemo, excepturi ad ducimus illo.
			.post
				img(src="http://placekitten.com/g/800/600")
				
				article
					header
						h2= post.title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum aperiam obcaecati consectetur laboriosam commodi. Sunt molestias temporibus dicta ratione tenetur quisquam nostrum neque, omnis nemo, excepturi ad ducimus illo.
